{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .back_to_menu_button {
            position: absolute;
            top: 85vh;
            left: 5vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .run_simulation_button {
            position: absolute;
            top: 70vh;
            left: 87vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .next_body_button {
            position: absolute;
            top: 85vh;
            left: 87vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .previous_body_button {
            position: absolute;
            top: 85vh;
            left: 75vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .simulation_image_box {
            position: absolute;
            top: 15vh;
            left: 5vw;
            width: 50vw;
            height: 50vh;
            text-align: center;
            border: 2px solid black;
            border-radius: 5vh;
        }

        .simulation_information_box {
            position: absolute;
            top: 15vh;
            left: 80vw;
            height: 35vh;
            width: 15vw;
            text-align: center;
            border: 2px solid black;
            background-color: white;
            overflow: auto;
            display: block;
            padding: 5px;
            border-radius: 5vh;
        }

        .body_information_box {
            position: absolute;
            top: 15vh;
            left: 60vw;
            height: 35vh;
            width: 15vw;
            text-align: center;
            border: 2px solid black;
            background-color: white;
            overflow: auto;
            display: block;
            padding: 5px;
            border-radius: 5vh;
        }

    </style>
    <body>
        <button class="back_to_menu_button"
                onclick="window.location.href='/'">
            Return to Main Menu
        </button>

        <button class="next_body_button"
                onclick="window.location.href='/edit/{{nextBody}}'">
            Next Body
        </button>

        <button class="previous_body_button"
                onclick="window.location.href='/edit/{{lastBody}}'">
            Previous Body
        </button>

        <button class="run_simulation_button"
                onclick="window.location.href='/run/1/0'">
            Run Simulation
        </button>

        <div class ="simulation_image_box">
            <img src="/media/latestSimulation.jpeg" alt="This image has failed to load.">
        </div>

        <div class ="simulation_information_box">
            <h2>Simulation Information:</h2>
            <p>Simulation Display Size: {{simulationSizeKM}}km / {{simulationSizeAU}}AU</p>
            <p>Days Per Simulation Tick: {{daysPerTick}}</p>
            <p>Simulation Days Elapsed: {{daysElapsed}}</p>
        </div>

        <form class ="body_information_box" action="" method="post">
            <h2>Body Values:</h2>
            <p>Selected Body Number: {{selectedBody}}</p>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </body>
{% endblock %}