{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .back_to_menu_button {
            position: absolute;
            top: 85vh;
            left: 5vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .login_form {
            position: absolute;
            top: 10vh;
            left: 80vw;
            height: 40vh;
            width: 15vw;
            text-align: center;
            border: 2px solid black;
            background-color: white;
            overflow: auto;
            display: block;
            padding: 5px;
            border-radius: 5vh;
        }
    </style>
    <body>
        <button class="back_to_menu_button"
                onclick="window.location.href='/'">
            Return to Main Menu
        </button>

        <form class ="login_form" action="" method="post">
            <h2>Login:</h2>
            {% csrf_token %}
            {{ loginForm }}
            <input type="submit" value="Login">
        </form>
    </body>
{% endblock %}