{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .back_to_menu_button {
            position: absolute;
            top: 85vh;
            left: 5vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .run_new_simulation_button {
            position: absolute;
            top: 85vh;
            left: 85vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .choose_template_box {
            position: absolute;
            top: 10vh;
            left: 10vw;
            height: 60vh;
            text-align: center;
            overflow: auto;
            display: block;
        }

        .choose_template_entry {
            position: relative;
            height: 10vh;
            width: 15vw;
            border: 2px solid black;
            padding: 5px
            text-align: center;
            background-color: white;
            border-radius: 15px;
        }

        .selected_template_entry {
            position: relative;
            height: 10vh;
            width: 15vw;
            border: 2px solid black;
            padding: 5px
            text-align: center;
            background-color: grey;
            border-radius: 15px;
        }

        .choose_template_entry:hover {
            background-color: silver;
        }

        .choose_name_form {
            position: relative;
            top: 10vh;
            left: 50vw;
            width: 25vw;
            text-align: center;
            border: 2px solid black;
            background-color: white;
            overflow: auto;
            display: block;
            padding: 5px;
            border-radius: 5vh;
        }
    </style>
    <body>
        <button class="back_to_menu_button"
                onclick="window.location.href='/'">
            Return to Main Menu
        </button>

        <button class="run_new_simulation_button"
                onclick="window.location.href='/run/1/0'">
            Run New Simulation
        </button>

        <ul class="choose_template_box">
            <li><h2 style="color:white">Select Template:</h2></li>
            {% for template in templatesList %}
                <li>
                    {% if forloop.counter0 == templateIndex %}
                        <button class ="selected_template_entry"
                                onclick="window.location.href='/create/{{forloop.counter0}}'">
                            {{template}}
                        </button>
                    {% else %}
                        <button class ="choose_template_entry"
                                onclick="window.location.href='/create/{{forloop.counter0}}'">
                            {{template}}
                        </button>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <form class ="choose_name_form" action="" method="post">
            <h2>Simulation Options:</h2>
            <p>Default values will be used if none are provided.</p>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </body>
{% endblock %}