{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .back_to_menu_button {
            position: absolute;
            top: 85vh;
            left: 5vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .start_simulation_button {
            position: absolute;
            top: 70vh;
            left: 87vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .tick_simulation_button {
            position: absolute;
            top: 85vh;
            left: 87vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .invert_simulation_button {
            position: absolute;
            top: 85vh;
            left: 75vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .edit_simulation_button {
            position: absolute;
            top: 85vh;
            left: 17vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .change_focus_button {
            position: absolute;
            top: 70vh;
            left: 75vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .simulation_image_box {
            position: absolute;
            top: 15vh;
            left: 25vw;
            width: 50vw;
            height: 50vh;
            text-align: center;
            border: 2px solid black;
            border-radius: 5vh;
        }

        .simulation_information_box {
            position: absolute;
            top: 15vh;
            left: 5vw;
            height: 45vh;
            width: 15vw;
            text-align: center;
            border: 2px solid black;
            background-color: white;
            overflow: auto;
            display: block;
            padding: 5px;
            border-radius: 5vh;
        }
    </style>
    <body>
        <button class="back_to_menu_button"
                onclick="window.location.href='/'">
            Return to Main Menu
        </button>

        <button class="start_simulation_button"
                onclick="window.location.href='/run/0/1/{{reverseSimulation}}/0'">
            Start Simulation
        </button>

        <button class="tick_simulation_button"
                onclick="window.location.href='/run/1/0/{{reverseSimulation}}/0'">
            Stop Simulation
        </button>

        <button class="invert_simulation_button"
                onclick="window.location.href='/run/1/0/{{invertedReverseSimulation}}/0'">
            Reverse Simulation Direction
        </button>

        <button class="change_focus_button"
                onclick="window.location.href='/run/1/0/{{reverseSimulation}}/1'">
            Focus Next Body
        </button>

        <button class="edit_simulation_button"
                onclick="window.location.href='/edit/0'">
            Edit Simulation
        </button>

        <div class ="simulation_image_box">
            <img src="/media/latestSimulation{{user}}.jpeg" alt="This image has failed to load.">
        </div>

        <div class ="simulation_information_box">
            <h3>Simulation Information:</h3>
            <p>Simulation Name: {{simulationName}}</p>
            <p>Simulation Display Size: {{simulationSizeKM}}km / {{simulationSizeAU}}AU</p>
            <p>Days Per Simulation Tick: {{daysPerTick}}</p>
            <p>Simulation Days Elapsed: {{daysElapsed}}</p>
            <p>Focused Body: {{focusBodyName}}</p>
            <p>Simulation Iteration Reversed: {{simulationInReverse}}</p>
        </div>
    </body>
    <script>
        let isSimulationRunning = {{autoRunSimulation}}
        if (isSimulationRunning == 1) {
            window.setTimeout(function () {location.href = "";}, 1000);
        }
    </script>
{% endblock %}