{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .back_to_menu_button {
            position: absolute;
            top: 85vh;
            left: 5vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .tick_simulation_button {
            position: absolute;
            top: 85vh;
            left: 85vw;
            height: 10vh;
            width: 10vw;
            text-align: center;
            border: 2px solid black;
            padding: 5px;
            border-radius: 5vh;
        }

        .simulation_image_box {
            position: absolute;
            top: 25vh;
            left: 25vw;
            height: 50vh;
            width: 50vw;
            text-align: center;
            border: 2px solid black;
        }
    </style>
    <body>
        <button class="back_to_menu_button"
                onclick="window.location.href='/'">
            Return to Main Menu
        </button>

        <button class="tick_simulation_button"
                onclick="window.location.href='/run/'">
            Tick Simulation
        </button>
        <div class ="simulation_image_box">

        </div>
    </body>
{% endblock %}