{% extends 'page_template.html' %}
{% load static %}

{% block content %}
    <style>
        .main_page_element {
            position: relative;
            height: 0;
            width: 0;
        }

        .simulation_image_box {
            position: absolute;
            top: 40vh;
            left: 40vw;
            width: 20vw;
            height: 20vh;
            text-align: center;
            color: white;
        }
    </style>
    <body>
        <div class ="simulation_image_box">
            Stopping simulation...
        </div>
    </body>
    <script>
        window.setTimeout(function () {location.href = '/run/1/0/{{reverseSimulation}}/0';}, 1);
    </script>
{% endblock %}