<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Testing and Stuff</title>
</head>
<style>
    .main_page_element {
        position: relative;
        height: 0;
        width: 0;
    }

    .text_box {
        position: absolute;
        top: 1vh;
        left: 1vw;
        height: 40vh;
        width: 30vw;
        border: 2px solid black;
        padding: 5px;
        border-radius: 15px;
        text-align: center;
    }
</style>
<body>
<div class="main_page_element">
    <div class="text_box">
        Hello World!
    </div>
</div>
</body>
</html>